installmethod: "{{ installmethod }}"
irixversion: "{{ irixversion }}"
installmirror: "{{ installmirror }}"
clientname: "{{ clientname }}"
clientdomain: "{{ clientdomain }}"
clientip: "{{ clientip }}"
clientether: "{{ clientether }}"
netmask: "{{ netmask }}"
network: "{{ network }}"
hostip: "{{ hostip }}"
myuser: "{{ myuser }}"
myshell: "{{ myshell }}"
current_dir: "{{ current_dir }}"
foundation_baseurl: "{{ foundation_baseurl }}"
foundation_disc1: "{{ foundation_disc1 }}"
devel_baseurl: "{{ devel_baseurl }}"
devel_devfoundations: "{{ devel_devfoundations }}"
